version: '3.7'

x-zcash-params-volume:
  &zcash-params
  type: bind
  source: /home/USERNAME/.zcash-params
  target: /home/komodian/.zcash-params

x-komodod-base:
  &komodod-base
  env_file:
    - .env
  build:
    context: .
    dockerfile: Dockerfile
    args:
      - USER_ID=$USER_ID
      - GROUP_ID=$GROUP_ID
      - COMMIT_HASH=156dba6
  shm_size: '2gb'
  restart: always
  logging:
    driver: "json-file"
    options:
      max-size: "20m"
      max-file: "10"

services:
